@import 'variables.scss';
@import 'mixins.scss';
@import 'reset.scss';
@import 'fonts.scss';

body {
  background-color: $color-brand;
  overflow-x: hidden;
  overflow-y: scroll;
}

i {
  &.is-white {
    color: $color-white;
  }
}

.container {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
}

.is-centered {
  margin-left: auto;
  margin-right: auto;
}

.icon {
  cursor: pointer;

  &--logo,
  &--menu {
    fill: $color-white;
  }
  
  &--search {
    stroke: $color-white;
  }

  @include media($bp-desktop) {
    &--logo,
    &--menu {
      fill: $color-brand;
    }
    
    &--search {
      stroke: $color-brand;
    }   
  }
}

.hidden-xs {
  @media screen and (max-width: $bp-tablet) {
    display: none;
  }
}

.hidden-sm {
   @media screen and (min-width: $bp-tablet) and (max-width: $bp-desktop) {
      display: none;
    }
}

.hidden-md {
   @media screen and (min-width: $bp-desktop) and (max-width: $bp-desktop-large) {
      display: none;
    }
}

.hidden-lg {
   @media screen and (min-width: $bp-desktop-large) {
      display: none;
    }
}