
// Colors
$color-brand: #71B1FD;
$color-white: #FFFFFF;
$color-grey: #979797;
$color-medium-grey: #BBBBBB;
$color-light-grey: #F7F7F7;
$color-menu-light-grey: #eaeaea;

// Padding
$standard-padding: 24px 0;

// Z-index
$zIndexTop: 1000;
$zIndexMiddle: 500;
$zIndexBottom: 100;

// Page Border
$pageBorder: 10px;

// Break Points
$bp-mobile: 375px;
$bp-tablet: 767px;
$bp-desktop: 991px;
$bp-desktop-large: 1200px;
$bp-desktop-large-xl: 1700px;

// Minimum container width
$container-min-width: 300px;
$container-max-width: 1700px;

// Header-height
$headerHeight: 92px;